.leaflet-container{
    width:100vw;
    height:100vh
}

.leaflet-div-icon{
    background: none !important;
    border: none !important;
}

.cluster-marker{

    color:rgb(29, 29, 199);
    background: rgb(255, 238, 0);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}